#brfb-hud {
  position: fixed;
  z-index: 9999;

  width: 120px;

  background: #222;

  border: 2px solid #444;

  border-radius: 8px;
}

.brfb-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    background: #111;
    color: white;
    cursor: move;
    height: 20px;
    /* width: auto !important; */
    font-size: 10px;
}

.brfb-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 12px;
  padding: 12px;
}

.brfb-content.collapsed {
  display: none;
}

.brfb-fart,
.brfb-fu {

  width: 40px;
  height: 40px;

  border-radius: 50%;

  border: none;

  font-weight: bold;
  font-size: 1.1rem;

  cursor: pointer;

  transition:
    transform 0.05s ease,
    box-shadow 0.05s ease,
    filter 0.1s ease;

  box-shadow:
    0 6px 0 rgba(0, 0, 0, 0.4),
    0 8px 12px rgba(0, 0, 0, 0.3);
}

.brfb-fart {

  background:
    radial-gradient(
      circle at 30% 30%,
      #ff6666,
      #c40000
    );

  color: white;
}

.brfb-fu {

  background:
    radial-gradient(
      circle at 30% 30%,
      #7aa7ff,
      #0044cc
    );

  color: white;
}

.brfb-fart:active,
.brfb-fu:active {

  transform: translateY(5px);

  box-shadow:
    0 1px 0 rgba(0,0,0,0.4),
    0 2px 4px rgba(0,0,0,0.3);

  filter: brightness(0.9);
}

.brfb-fart:hover,
.brfb-fu:hover {

  filter: brightness(1.1);
}

#brfb-hud.brfb-collapsed {
  opacity: 0.4;
}

.brfb-toggle {
    width: 16px;
    height: 16px;

    min-width: 16px;
    min-height: 16px;

    padding: 0;
    margin: 0;

    font-size: 10px;
    line-height: 1;

    border: 1px solid #666;
    border-radius: 3px;

    display: flex;
    align-items: center;
    justify-content: center;
}

#brfb-achievement {

  position: fixed;

  top: 20%;

  left: 50%;

  transform:
    translateX(-50%);

  z-index: 999999;

  pointer-events: none;

  animation:
    brfb-achievement-in
    0.4s ease-out;
}

.brfb-achievement-frame {

  min-width: 500px;

  padding: 20px;

  border-radius: 12px;

  text-align: center;

  border: 3px solid gold;

  background:
    linear-gradient(
      180deg,
      rgba(50,40,0,.95),
      rgba(20,15,0,.95)
    );

  box-shadow:
    0 0 40px gold;
}

.brfb-achievement-header {

  font-size: 18px;

  color: gold;

  letter-spacing: 3px;

  font-weight: bold;
}

.brfb-achievement-title {

  margin-top: 10px;

  font-size: 36px;

  color: white;

  font-weight: bold;
}

.brfb-achievement-subtitle {

  margin-top: 5px;

  font-size: 18px;

  color: #ccc;
}

.brfb-achievement-hide {

  opacity: 0;

  transition:
    opacity 1s ease;
}

@keyframes brfb-achievement-in {

  from {
    opacity: 0;
    transform:
      translateX(-50%)
      scale(0.5);
  }

  to {
    opacity: 1;
    transform:
      translateX(-50%)
      scale(1);
  }
}

.brfb-achievement-user {
  color: green;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
  margin-top: 8px;
}